@import '@styles/base';
@include telegraf-400;

.Section3Wrapper {
  width: 100%;
  height: 100vh;
  font-family: 'Telegraf', sans-serif;
  background-color: var(--color-bg-2);
  box-sizing: border-box;
  padding: 1rem;
  @include directionY;
  background-image: url('../../../static/images/bg-stars.svg');
  animation: moveBackground 20s linear infinite;

  @keyframes moveBackground {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 100%;
    }
  }

  .S3Title {
    font-weight: 800;
    font-size: 2rem;
    color: var(--color-text);
    text-align: center;
    box-sizing: border-box;
  }

  .S3Title2 {
    font-weight: 800;
    font-size: 2rem;
    color: var(--color-text);
    text-align: center;
    box-sizing: border-box;
    padding-top: 5rem;
  }

  .font {
    font-family: 'Telegraf', sans-serif;
  }
}
