@mixin light-theme {
  --color-bg: #ffffff1e;
  --color-bg-2: #faf8f1;
  --color-text: #4c3d3d;
  --color-cardAboutMe: #fd831f8a;
}

@mixin dark-theme {
  --color-bg: #00000042;
  --color-bg-2: #393646;
  --color-text: #fff7d4;
  --color-cardAboutMe: rgba(229, 185, 115, 0.158);
}
