@import '@styles/base';

.WrapperSection2 {
  width: 100%;
  height: 80vh;
  background-color: var(--color-bg-2);
  @include directionX;
  background-image: url('../../../static/images/bg-stars.svg');
  animation: moveBackground 20s linear infinite;

  @keyframes moveBackground {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 100%;
    }
  }

  .ContainerLeft {
    width: 50%;
    height: 80vh;
    @include directionX;
    justify-content: center;
    align-items: center;

    .CardAboutMe {
      position: relative;
      width: 20rem;
      height: 27rem;
      background: var(--color-cardAboutMe);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.2px);
      -webkit-backdrop-filter: blur(3.2px);
      border: 1px solid rgba(229, 186, 115, 0.2);
      box-sizing: border-box;
      padding: 2rem;

      .CardTitle {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 3rem;
      }

      .CardDesc1 {
        font-size: 0.8rem;
        font-weight: 500;
        text-align: justify;
      }

      .CardDesc2 {
        font-size: 0.8rem;
        font-weight: 500;
        text-align: justify;
      }

      .CardDesc3 {
        font-size: 0.8rem;
        font-weight: 400;
        position: absolute;
        bottom: 1rem;
      }
    }
  }

  .ContainerRight {
    width: 50%;
    height: 80vh;
    @include directionX;
    align-items: center;
    // justify-content: center;

    .ProfilePic {
      width: 22rem;
      height: 32rem;
      background-image: url('../../../static/images/harold-foto.svg');
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 5rem;
      margin-bottom: 5rem;
      position: relative;
    }
  }
}
